<app-page-title title="rules"></app-page-title>
<div class="rule-container">
    <div class="block">
        <span class="rule-title">Objectif</span>
        <div class="rule">
            Récolter le plus de points possible en allant <b>se prendre en photo</b> (en équipe) devant les lieux identifiés sur la carte.
        </div>
    </div>
    <br/>
    <div class="block">
        <span class="rule-title">Types de lieux</span>
        <div class="rule">
            <div class="difficulty-row">
                <div class="difficulty">
                    <div class="circle easy-border"></div>
                    <span>1 point</span>
                </div>
                <div class="difficulty">
                    <div class="circle medium-border"></div>
                    <span>3 points</span>
                </div>
                <div class="difficulty">
                    <div class="circle hard-border"></div>
                    <span>5 points</span>
                </div>
            </div>
            <span>
                Pour chaque lieu, vous avez à votre disposition un zoom de la zone, et :
                <ul style="margin-top: 0;">
                    <li>
                        soit une photo de l’élément/lieu à repérer
                    </li>
                    <li>
                        soit une description de l’élément/lieu que vous devez trouver
                    </li>
                </ul>
            </span>
        </div>
    </div>
    <br/>
    <div class="block">
        <span class="rule-title">Validation</span>
        <div class="rule">
            Pour valider un lieu, il suffit d’envoyer les photos au fur et à mesure, elles seront validées par “like”. Faites attention à ce que dans le cas où vous avez une photo en guise d’indice, 
            l’élément indiqué soit bien visible sur votre selfie ! Vous avez <b>2h pour valider un maximum de lieux</b>, 
            une fois les 2h imparties passées, aucune photo ne sera acceptée.
        </div>
    </div>
    <br/>
    <div class="block">
        <span class="rule-title">Égalité ?</span>
        <div class="rule">
            En cas d’égalité entre des équipes :
            <ul style="margin-top: 0;">
                <li>
                    L’équipe la plus rapide gagne si toutes les balises ont été récupérées en moins de 2h.
                </li>
                <li>
                    L’équipe qui a récolté le plus de balises rouges gagne (si toujours une égalité, comparaison du nombre de balises orange puis vertes).
                </li>
                <li>
                    Si toujours égalité, alors l’équipe qui aura envoyé la dernière photo en premier gagne.
                </li>
            </ul>
        </div>
    </div>
    <br/>
    <div class="block">
        <span class="rule-title"><4</span>
        <div class="rule">
            Et n’oubliez pas, il vaut mieux marcher dans la bonne direction que courir dans la mauvaise ! 
        </div>
    </div>
</div>