.img-container {
    overflow: scroll;
    width: auto;
    padding-bottom: 50px;
}

.logo {
    height: 100%;
    object-fit: contain;
}

mat-button-toggle {
    width: 100%;
    background-color: transparent;
    font-family: 'bungee';
    color: #03A6B0;
    font-size: 15px;
}

::ng-deep.mat-button-toggle-checked  {
    background-color: #03a7b075 !important;
    color: #fff !important;
}

.zoom-map {
    color: #03A6B0;
    font-family: 'bungee';
    padding-left: 10px;
}

.zoom-img {
    margin-top: 10px;
    margin-bottom: 10px;
}