<mat-toolbar class="home-toolbar title" *ngIf="title == 'home'">
    <mat-icon> directions_run</mat-icon> Into ZZe Wild <mat-icon> directions_run</mat-icon>
</mat-toolbar>
<mat-toolbar class="rules-toolbar title" *ngIf="title == 'rules'">
    <mat-icon style="margin-right: 20px;" [routerLink]="['../home']">arrow_back</mat-icon>
    <mat-icon style="margin-right: 5px;"> assignment</mat-icon> Règles du jeu
</mat-toolbar>
<mat-toolbar class="map-toolbar title" *ngIf="title == 'map'">
    <mat-icon style="margin-right: 20px;" [routerLink]="['../home']">arrow_back</mat-icon>
    <mat-icon style="margin-right: 5px;"> map</mat-icon> Carte
</mat-toolbar>
<mat-toolbar class="map-toolbar title" *ngIf="title == 'zoom'">
    <mat-icon style="margin-right: 20px;" [routerLink]="['../../../../places/' + this.idPlace]">arrow_back</mat-icon>
    <mat-icon style="margin-right: 5px;"> zoom_in</mat-icon> Zoom
</mat-toolbar>
<mat-toolbar class="places-toolbar title" *ngIf="title == 'places'">
  <mat-icon style="margin-right: 20px;" [routerLink]="['../home']">arrow_back</mat-icon>
  <mat-icon style="margin-right: 5px;"> place</mat-icon> Lieux
</mat-toolbar>
<mat-toolbar class="places-toolbar title" *ngIf="title == 'places-details'">
  <mat-icon style="margin-right: 20px;" [routerLink]="['/places']">arrow_back</mat-icon>
  <mat-icon style="margin-right: 5px;"> place</mat-icon> Lieux
</mat-toolbar>
<mat-toolbar *ngIf="number != 0 && difficulty == 'easy'" class="button-place easy">
    <mat-icon style="margin-right: 20px;" [routerLink]="['../../places']">arrow_back</mat-icon>
    <div class="white-round easy-font">{{number}}</div>
        Lieu {{number}}
</mat-toolbar>
<mat-toolbar *ngIf="number != 0 && difficulty == 'medium'" class="button-place medium">
    <mat-icon style="margin-right: 20px;" [routerLink]="['../../places']">arrow_back</mat-icon>
    <div class="white-round medium-font">{{number}}</div>
        Lieu {{number}}
</mat-toolbar>
<mat-toolbar *ngIf="number != 0 && difficulty == 'hard'" class="button-place hard">
    <mat-icon style="margin-right: 20px;" [routerLink]="['../../places']">arrow_back</mat-icon>
    <div class="white-round hard-font">{{number}}</div>
        Lieu {{number}}
</mat-toolbar>
