<app-page-title [number]="place.id" [difficulty]="place.level"></app-page-title>

<div class="checkPlace-box">
  <span class="title">Trouvé : </span><mat-checkbox class="checkbox-{{place.level}}" [checked]="place.found" (click)="changeCheckPlace()" style="margin-left: 10px;"></mat-checkbox>
</div>

<div class="page-details-container">
    <div class="img-container {{place.level}}-border" (click)="openDialog({{place.image}})">
        <img src="{{place.image}}" class="logo"/>
    </div>
  <div class="hint-container {{place.level}}-background">
    <div class="hint-title">
      <span>Indice</span>
      <hr size="1" color="white">
    </div>
    <div class="hint-content" *ngIf="!hintImage">
      <span>
          {{place.tip}}
      </span>
    </div>
    <div class="hint-content" *ngIf="hintImage">
      <div class="img-hint-container" (click)="openDialog({{place.tip}})" >
        <img src="{{place.tip}}" class="img-hint"/>
      </div>
    </div>
  </div>
</div>
